// Colors
$dark-grey: #8a8a8a;
$white: #fff;
$red: #f43d3e;
$black: #0a0a0a;

// Navigation colors
$nav-background: $white;
$nav-text-color: $red;

// Clock variables
$clock-text-color: $black;
$clock-bg-color: #fccece;
$clock-border-color: #f43d3e;
